<div class="login background">
    <form class="custom-form">
      <h1><img src="assets/Img/logout.png"></h1>
      <br />
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" placeholder="usuario@gmail.com" id="email" name="email" formControlName="email" />
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password" />
      <br />
      <button>Iniciar Sesión</button>
    </form>
  </div>