/* Estilos personalizados para la barra de navegación */
.navbar-custom {
  background-color: #B95835 !important;
}

/* Estilos para los botones en la barra de navegación */
.navbar-nav .nav-item {
  margin-right: 10px; /* Añadir espacio entre los botones */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* No aplicar margen al último botón */
}

.navbar-nav .btn-primary {
  background-color: #D9D9D9;
  color: #555; /* Cambiar el color del texto para que combine */
  border-color: #D9D9D9;
}

.material-symbols-outlined {
  font-size: 20px; /* Tamaño del icono */
  line-height: 1; /* Eliminar el espacio vertical adicional */
}



/* Estilos para el footer */
.footer {
  background-color: #262626;
  color: #fff;
  padding: 50px 0;
}

.footer-text {
  font-size: 18px;
  line-height: 1.8;
}

.footer-author {
  margin-top: 20px;
  font-size: 14px;
}
