<h1>
  

  <nav>
    <a routerLink="/login"></a>
  </nav>

  <nav>
    <a routerLink="/recuperarpass"></a>
  </nav>

  <nav>
    <a routerLink="/listalibros"></a>
  </nav>

  <nav>
    <a routerLink="/registroLibro"></a>
  </nav>

  <nav>
    <a routerLink="/editarLibro"></a>
  </nav>


  <nav>
    <a routerLink="/editarPerfil"></a>
  </nav>

  <nav>
    <a routerLink="/registeruser"></a>
  </nav>

  <nav>
    <a routerLink="/inicio-adm"></a>
  </nav>

 

  <router-outlet>
    
  </router-outlet>
</h1>

