<div class="login background">
  <img src="assets/fondolog.png" alt="Fondo de inicio de sesión" class="background-image">
  <form class="custom-form">
      <h1><img src="assets/Img/logout.png"></h1>
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" placeholder="usuario@gmail.com" id="email" name="email" formControlName="email" />
      <p class="error-message" style="display: none;">El correo electrónico no es válido.</p>
      <button type="submit">Enviar</button>
      <a href="#" class="login-link">Iniciar Sesión</a>
  </form>
</div>
